%h1.clear Give One Take One:
/=image_tag('apple/rails.png')

= link_to "Post a Shift", shifts_path, :class => "button"
= link_to "Request Off", new_request_path, :class => "button"
= link_to "Holiday Request", new_holiday_path, :class => "button"
