%div.span-22
  %h3.clear Holiday Request Policy
  %p Team -

  %p As we begin to plan for our busiest season at Apple, we need to re-evaluate our procedures for Time Off Requests. Our Credo reminds us that "We passionately engage customers, showcase our technology, and help them discover how our products can enrich their lives." Having the right staffing is critical to this fulfilling this commitment.  The Credo also reminds us that "our most important resource, our soul, is [each of you]." The holidays are a time we would all like to spend with family and friends, and as a store team we want to be mindful of everyone's preferences.  Our goal is to continue to meet the demands of our business while balancing your personal time. We are hoping to have almost 300 employees on our team this holiday season, working together to make that goal a reality. 

  %p Our peak business period will include most of November, December and January.

  %p Some critical dates for our business include: 
  %ol
    %li November 19th-December 2nd (Black Friday weekend and RSNA) - Severely Limited Requests Period for all business areas
    %li December 3rd-December 16th - Limited Requests for all areas
    %li 
      December 17th-December 24th - 
      %span Severely 
      Limited Requests Period for all areas
    %li 
      December 26th-January 8th - 
      %span Severely 
      Limited Requests Period for Family Room

  %p
    Our ability to approve requests for Time Off during a 
    %span Severely Limited Requests Period 
    will be dependent upon our duty to staff our store to meet the needs of our business. We will determine the total number of requests we can accommodate within each department and as a store team, for these periods. Approval for requests will be extremely limited. This will necessitate partnership between you and your Mentor Manager, in conjunction with the Scheduling Team. 

  %p 
    During a 
    %span Limited Requests Period
    , approval of Time-Off Requests will again be balanced with business needs in mind, but more requests may be approved during this time. 



  %p What do we need from YOU? 

  %p 
    By 
    %span Saturday, September 24
    , we need you to 
    %span submit your preferred Time-Off Requests 
    for these time periods. You can do this via a new feature of the 
    %span Shift Switch App
    , which has now been expanded to include a Time-Off Requests feature.

  %p 
    By 
    %span Friday, October 7th 
    you will receive a confirmation email from your Mentor Manager/Scheduling Team detailing which of your holiday Time Off Requests have been approved as well as those we can not accommodate. You should not assume your Requests have been approved until you receive confirmation.


  %p Thank you for being proactive and submitting your requests quickly, so we can work to balance your employee experience with our need to continue to provide amazing service to our customers. 

  %p Happy Holidays! 

  %p Amy and Brooke


  %p.span-22
    = link_to 'Make Holiday Request', new_holiday_path, :class => "button white"

  %h3.clear Shift Switch Policy
  %p
    This is the Shift Switch, which has been created by the Scheduling Team to facilitate easy shift swaps among employees. The Shift Switch requires you to use your Apple email address.
  %p
    To submit a shift for another employee to take, please click on the Give a Shift button. To view available shifts and to take a shift, use the appropriate buttons to the right of the listed shift.
  %p
    Once a shift is taken, the person who posted the shift, the person taking the shift and NMA Schedule are emailed a notification. If you do not receive an email notification, please resubmit taking the shift, as the request did not fully process.
  %ol
    %h6 As a reminder, there are a few guidelines for switching shifts:
    %li Please double check you are not already working on the day you take a shift.
    %li Employees cannot work more than 8 total hours on a given day, even with split shifts. Also employees cannot work over 40 hours a week (Saturday-Friday).
    %li Shift switches must occur between employees in the same department (ICS/ICS, Red Zone/Red Zone, Genius/Genius etc.)
    %li If you are a Full Time employee giving up a shift, please notify NMA Schedule separately if you would like vacation or sick pay for that day.
    %li Family Room shifts involve an extra level of review to accommodate staffing, so a Family Room switch is not approved until you receive an email specifically approving it.
    %li FRSs may switch with other FRSs or Creatives and vice-versa.  Special attention needs to be paid when switching any shifts that may contain Personal Training sessions due to to trainer knowledge.
    %li Geniuses may only switch with other Geniuses.
    %li No switches with any team members outside of the Family Room.  This means no Specialists are able to take FR shifts. 
    %li The Shift Switch App has now switched #{Shift.count} shifts!!

  %p.span-22
    = link_to 'Give a New Shift', new_shift_path, :class => "button white"


